<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles/shared-styles.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="manage-customer">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    
    <div class="container">

        <div class="row">
            <h1>Gestor de clientes</h1>
        </div>

        <div class="row">
            <button 
                class="btn btn-success col-lg-4 clo-xs-12" 
                on-click="getCustomer">Obtener clientes</button>
            <button 
                class="btn btn-success col-lg-4 clo-xs-12" 
                on-click="addNewCustomer">Registra cliente</button>
        </div>

        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>ID cliente</td>
                        <td>Nombre</td>
                        <td>App</td>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="{{customers}}">
                        <tr>
                            <td>[[item.idCustomer]]</td>
                            <td>[[item.name]]</td>
                            <td>[[item.app]]</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ManageCustomer extends Polymer.Element {
      static get is() { return 'manage-customer'; }
      static get properties() {
        return {
          componentName: {
            type: String,
            value: 'manage-customer works!'
          },
          customers: {
              type: Array,
              notify: true
          },
          respuesta: {
            type: String,
            value: ''
          }
        };
      }
      getCustomer() {
        // var url = 'https://services.odata.org/V4/Northwind/Northwind.svc/Customers'
        var url = 'http://localhost:3002/v3/customers'
        var request = new XMLHttpRequest()
        request.open('GET', url, false)
        request.setRequestHeader('Accept', 'application/json')
        request.send()
        this.customers = JSON.parse(request.responseText) //.value
        console.table(this.customers)
      }
      addNewCustomer() {
        let url = 'https://services.odata.org/V4/Northwind/Northwind.svc/Customers'
        let request = new XMLHttpRequest()
        reques.open('POST', url, false)
        request.setRequestHeader('Accept', 'application/json')
        request.setRequestHeader('Content-Type', 'application/json')
        let newCustomer = {
            CustomerID: 12345,
            ContactName: 'Jośe Montoya',
            CompanyName: 'BBVA'
        }
        let body = JSON.stringify(newCustomer)
        request.send(body)
        this.respuesta = request.responseText
        console.log('respuesta: ', this.respuesta)

      }
    }

    window.customElements.define(ManageCustomer.is, ManageCustomer);
  </script>
</dom-module>
