<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin.*

<dom-module id="login-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    -->
    <h2>login app works!</h2>
    <div class="container">
        <div class="row" hidden$="{{authOK}}">
            <div class="row">
                <h2>Login</h2>
            </div>
            <div class="row">
                Email: <input type="email" value="{{email::input}}">
                <br/>
                Password: <input type="password" value="{{password::input}}">
            </div>
            <div class="row">
                <button type="button" name="button" on-click="sendLogin">
                    login
                </button>
            </div>
        </div>
        <div class="row" hidden$="{{!authOK}}">
            <h2>¡Bienvenido a la aplicación!</h2>
        </div> 
    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/v4/login"
      content-type="application/json"
      crossDomain: true
      dataType: 'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAjaxResponse"
      on-error="showError"/>

  </template>

  <script>
    
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String,
            value: ''
          },
          password: {
            type: String,
            value: ''
          },
          authOK: {
              type: Boolean,
              value: false
          }

        };
      }

      sendLogin() {

        let loginData = {
            email: this.email,
            password: this.password
        }
        console.log(JSON.stringify(loginData))
        console.log(this.$.doLogin)

        this.$.doLogin.body = JSON.stringify(loginData)
        this.$.doLogin.generateRequest()
        console.log('Peticion enviada...')

      }

      manageAjaxResponse(data){
        console.log('respuesta del servidor', data.detail.response)
        this.set('authOK', true)
      }

      showError(error){
        alert('datos ingresados incorrectos', error)
        console.log(error)
      }

    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
