<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../manage-customer/manage-customer.html">
<link rel="import" href="../login-app/login-app.html">
<!--<link rel="import" href="../../bower_components/polymer-bootstrap/polymer-bootstrap.html">-->

<dom-module id="my-viewer">
  <template>

    <!--<style include="polymer-bootstrap"></style>-->
    <style include="shared-styles"></style>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!--
    <div class="container">

        <div class="row redLetter">
            <h1>Visor</h1>
        </div>

        <div class="row">
            <img 
              class="col-lg-8 col-xs-12"
              src="https://image.flaticon.com/icons/svg/1076/1076928.svg" 
              alt="huellita de can" 
              width="250px" 
              height="150px"
            />
        </div>

        <div class="row">
          <button 
            class="btn btn-success col-lg-4 clo-xs-12" 
            type="button"
            on-click="addCount"
            >carga datos
          </button>
        </div>

        <div class="row">
          <input
            type="text"
            placeholder="[[placeUser]]"
            value="{{userNumber::input}}"
          />
          <br/>
          <input
            type="text"
            name=""
            value="[[userNumber]]"
          />
        </div>

        <div class="row">
          <table class="table table-striped">
            <thead>
              <th>ID</th>
              <th>Nombre</th>
              <th>App</th>
              <th>Apm</th>
            </thead>
            <tbody>
              <tr>
                <td>[[count]]</td>
                <td>José</td>
                <td>Montoya</td>
                <td>Guzmán</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Usuario2</td>
                <td>Apellido2</td>
                <td>Apellido2</td>
              </tr>
            </tbody>
          </table>
        </div>

    </div>
    -->
    <!--
    <div class="container">
      <manage-customer></manage-customer>
    </div>
    -->

    <login-app></login-app>
    

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MyViewer extends Polymer.Element {
      static get is() { return 'my-viewer'; }
      static get properties() {
        return {
          componentName: {
            type: String,
            value: 'my-viewer works!'
          },
          count: {
            type: Number,
            value: 1
          },
          placeUser: {
            type: String,
            value: 'escribe usuario...'
          },
          userNumber: {
            type: String,
            value: ''
          }
        };
      }
      addCount() {
        this.prop2 = this.prop2 + 1
      }
    }

    window.customElements.define(MyViewer.is, MyViewer);
  </script>
</dom-module>
